<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Spittr</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}">
</head>
<body>
<div id="header" th:include="page :: header"></div>
<h1 th:text="#{spittr.welcome}"></h1>
<ul style="display: inline;">
    <li><div id="authorized" sec:authorize="isAuthenticated()" ><a th:href="@{/marco}"/>WebSocket</a></div></li>
    <li><div id="authorized" sec:authorize="isAuthenticated()" ><a th:href="@{/marcopolo}"/>STOMP Websocket</a></div></li>
    <li><a th:href="@{/spittles}"/>Spittles</a></li>
    <li><div id="authorized" sec:authorize="not isAuthenticated()" style="display: inline"><a th:href="@{/spitter/register}"/>Register</a></div></li>
</ul>
<div id="footer" th:include="page :: copy"></div>
</body>
</html>